* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100vh;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
    white-space: hidden;
}

aside p {
    padding: 20px;
    text-align: center;
}

.hero-image {
    position: relative;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2023/07/25/19/47/milky-way-8149815_1280.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50dvh;
}

.hero-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
}

.button {
    background-color: #f3974e;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.home-btn {
    background-color: black;
    color: azure;
    border: 2px solid #f3974e;
}

.home-btn:hover {
    background-color: #ebb283;
    color: azure;
}

.navigation-bar {
    background-color: rgb(5, 5, 5);
    overflow: hidden;
}

.container {
    position: relative;
    float: right;
    margin: 10px;
    cursor: pointer;
    
}
/* Basic menu hidden by default */
#menu {
    width: 100%;
    min-height: 50dvh;
    position: absolute;
    top: 58.5%;
    left: 0;
    display: none;
}

/* When menu is active */
#menu.show {
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    background-color: rgb(30, 29, 29);
}

/* Hamburger styling just for example */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    display: none;
    background-color: #f3974e;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-home-btn {
    width: 50%;
    z-index: 2;
    margin: 10px auto;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(-45deg);
}
/*End of hamburger*/

main {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 5px;
}


/*main content*/
.right-container {
    max-width: 66%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px;
    overflow: hidden;
    gap: 5px;
}

.card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 8px 16px;
    gap: 10px;
    background-color: rgba(182, 170, 170, 0.405);
}

.card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    margin: 10px;
    border-radius: 8px;
    border: 2px solid black;
    background-color: black;
    color: white;
}

.card a {
    margin: 10px 0 0;
    padding: 4px 16px;
    background-color: white;
    color: black;
    border-radius: 8px;
    text-align: center;
}
h3 {
    text-align: center;
}

.card p {
    font-size: 12px;
}

.card img {
    margin: 10px auto;
    box-shadow: 1px 1px 10px white;
}
aside {
    max-width: 33%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    overflow: hidden;
    border-right: 1px solid black;
    background-color: rgb(173, 198, 219);
}

address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0;
    margin: 10px 0;
}

address a {
    margin: 2px 0;
    padding: 4px 0;
    color: black;
    text-decoration: none;
}

address a:hover {
    text-decoration: underline;
}

.available {
    text-align: center;
    font-size: 14px;
    padding: 20px;
    margin: 20px 0;
}
aside img {
    margin: 0 auto;
    box-shadow: 0px 10px 10px rgba(19, 19, 19, 0.768);
}

 .skill {
      margin-bottom: 20px;
    }

    .skill-name {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .progress-bar {
      background: #eee;
      border-radius: 10px;
      overflow: hidden;
      height: 25px;
      max-width: 300px;
    }

    .progress {
      height: 100%;
      text-align: right;
      padding-right: 10px;
      color: white;
      font-size: 14px;
      line-height: 25px;
    }

    .html {
        width: 20%; 
        background: #e34c26; 
    } 
    .css {
        width: 20%; 
        background: #264de4;
     } 
    .js {
        width: 0%; 
        background: #f7df1e; 
        color: black; }
/*End of main content*/

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    color: white;
    text-align: center;
    background-color: black;
}

footer ul li {
    display: block;
    list-style-type: none;
    padding: 10px;
}

footer p {
    text-align: center;
}


@media screen and (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    h1 {
        text-wrap: balance;
        font-size: 30px;
    }

    h2, h3, p, address{
        text-align: center;
    }

    aside, .right-container {
        max-width: 100%;
        border: none;
    }
    .home-btn {
        display: none;
    }
    .bar1, .bar2, .bar3 {
        display: block;
    }
}

